.qBtn{
  padding: 1em 2em;
  border-radius: 12px;
  border-color: white;
  color: white;
  background: transparent;
  margin: 0.5em 0.5em 1em 0.5em;  
}

.link{
  text-decoration: none;
  color: white;
}